<h1>Results</h1>
<div class="container">

  <h1><%= @word %></h1>
  <br>
  <h2><%= @result_phrase %></h2>
  <br>
  <h3>score: <%= @score %></h3>

  <div class="btn btn-info">

  <%= link_to "new game", "/" %>
  </div>
</div>
